body {
    color: black;
	background-color: white;
    font-size: 100%;
    font-family: Helvetica,Arial,sans-serif;
    margin: 0; padding: 1em;
    min-width: 800px;
}

body > header {
    min-width: 800px;
}

body > footer > div {
    min-width: 800px;
    background-color: white;
}

body > div.ym-column {
    min-width: 800px;
    margin-top: 1em;
}
https://github.com/yamlcss/yaml.git
.ym-wbox {
    padding: 10px;
}

div#lNavi {
    font-size: 0.83em;
    float: left;
    width: 100%;
    margin: 0 0 0 0;
}

div#rNavi {
  	font-size: 0.83em;
	width: 100%;
    margin: 0 0 1.2em;
	padding: 0;
}

div.Navi {
	background: url(../images/green/box_fr.png) 100% 100% no-repeat;
	margin-bottom: 1em;
}

div.Navi > div {
	background: url(../images/green/box_fl.png) 0 100% no-repeat;
}

div.Navi > div > div  {
	padding-left: 13px;
	padding-bottom: 1em;
	background: url(../images/green/box_tl.png) 0 0 no-repeat;
}

div.Navi > div > div > div {
	background: url(../images/green/box_tr.png) 100% 0 no-repeat;
}

div.Navi > div > div > div > div.boxcontent {
    margin-right: 13px;
    margin-top: 10px;
}


img {
	border: 0;
}

a {
	color: #A2A2A2;
	text-decoration: none;
}

a:hover {
		color: black;
		text-decoration: underline;
}

h1 {
    font-size: 1.5em;
    margin: 0 0 0.7em; padding: 0.3em;
    text-align: center;
    border: 2px dashed silver;
}

.ym-wbox
{
	padding: 10px;
}

h3.boxtitle {
	padding-top: 8px;
	font-size: 1.1em;
	text-align: left;
	color: white;
}

.highlight {
	background-color:  red;
	text-decoration: none;
}

.highlight:hover {
	background-color: #F40000;
	text-decoration: underline;
}

.blink {
	text-decoration: blink;
}

.wrongInput {
	color: red;
}
.wrongInput:hover {
	color: silver;
}
.invisible {
	display: none;
}
